<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @city.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @city.lon %>
</p>


<strong>Weather:</strong>
  <%= @weather[:summary] %>
</p>

<strong>Temperature :</strong>
  <%=  @weather[:current_temp] %>
<strong> °C </strong>
</p>

<strong> WindSpeed: </strong>
  <%=  @weather[:current_wind] %>
<strong> km/h </strong>
</p>

<strong> ICON :</strong>
  <%=  @weather[:icon] %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
